<!-- 
Future improvement to add back into the addtokens.html. Allows for 
Adding create a new token in Kaltura from the management tool. Requires an admin KS.
-->

<hr />
<div class="add-new-token" style="border-radius: 5px; padding: 15px">
  <h4>Generate New App Token</h4>
  <form action="">
    <label class="form-label mt-2" for="priv-context"
      >Kaltura Privacy Context</label
    >
    <div class="col-sm-4">
      <input
        class="form-control"
        type="text"
        id="priv-context"
        name="privacy-context"
        value=""
      >
    </div>
    <div class="card border-danger mb-3 mt-3" style="max-width: 40rem">
      <div class="card-body">
        <p class="card-text">
          ⬆️ Optional - Can be blank unless you wish to apply a privacy
          context(s) created by a KMC admin. Multiple contexts can be applied to
          a token (comma separated).
        </p>
      </div>
    </div>
    <label class="form-label mt-2"
      >Session Privileges (Comma-separated List)</label
    >
    <div class="col-sm-4">
      <input
        class="form-control"
        type="text"
        id="session-privs"
        name="session-privileges"
        value=""
      >
    </div>
    <div class="card border-danger mb-3 mt-3" style="max-width: 40rem">
      <div class="card-body">
        <p class="card-text">
          ⬆️ Optional - Can be blank unless you're applying a muliple session
          privileges (comma separated).
        </p>
      </div>
    </div>
    <label class="form-label mt-2">Session User ID</label>
    <div class="col-sm-4">
      <input
        class="form-control"
        type="text"
        id="sess-user-id"
        name="session-user-id"
        value=""
      >
    </div>
    <div class="card border-danger mb-3 mt-3" style="max-width: 40rem">
      <div class="card-body">
        <p class="card-text">
          ⬆️ Optional - Can be blank unless you wish to apply a Kaltura user ID
          for limiting access to content owned by a single user account.
        </p>
      </div>
    </div>
    <label class="form-label mt-2" for="app-token-expiry"
      >App Token Expiration</label
    >
    <div class="col-sm-4">
      <input
        class="form-control"
        type="datetime-local"
        id="app-token-expiry"
        name="app-token-expiration"
        placeholder="MM/DD/YYYY HH:MM"
      >
    </div>
    <div class="card border-danger mb-3 mt-3" style="max-width: 40rem">
      <div class="card-body">
        <p class="card-text">⬆️ Select an expiration date for the token.</p>
      </div>
    </div>
    <label class="form-label mt-2" for="app-token-desc"
      >App Token Description</label
    >
    <div class="col-sm-4">
      <input
        class="form-control"
        type="text"
        id="app-token-desc"
        name="app-token-description"
        value=""
      >
    </div>
    <div class="card border-danger mb-3 mt-3" style="max-width: 40rem">
      <div class="card-body">
        <p class="card-text">
          ⬆️ Please describe. This will be added to the token and notes.
        </p>
      </div>
    </div>
    <button type="button" class="btn btn-info" data-action="add-token">
      Create Token
    </button>
  </form>
</div>