<!-- templates/_token_manage.html -->

<div class="token-control-card" style="text-align: right">
  <a class="btn btn-warning toggle-control" style="margin-bottom: 10px">More ...</a>
  <div class="token-control hidden" style="text-align: left">
    <form class="token-form">
      <div data-kaltura-app-token="{{ token.token }}">
        <div><b>Kaltura App Token:</b> {{ token.token }}</div>
      </div>
      <div data-kaltura-app-token="{{ token.session_privileges }}">
        <div style="width: 750px">
          <b>Assigned Privileges:</b> {{ token.session_privileges }}
        </div>
      </div>
      <div data-kaltura-app-token="{{ token.expiry }}">
        <div><b>Expiration:</b> {{ token.expiry|datetimeformat }}</div>
      </div>

      <div data-kaltura-app-token="{{ token.session_duration }}">
        <div>
          <b>Session Duration:</b> {{ token.session_duration|secstohours }}
          hours
        </div>
      </div>

      <div data-kaltura-app-token="{{ token.kaltura_token_id }}">
        <div><b>Token ID:</b> {{ token.kaltura_token_id }}</div>
      </div>

      <div data-kaltura-app-token="{{ token.session_user_id }}">
        <div><b>Session User ID:</b> {{ token.session_user_id }}</div>
      </div>
      <div data-kaltura-app-token="{{ token.label }}">
        <div><b>Label:</b> {{ token.label }}</div>
      </div>
      <button type="button" class="btn btn-danger" data-action="delete">
        Delete
      </button>
      <button type="button" class="btn btn-warning" data-action="cancel">
        Cancel
      </button>
    </form>
  </div>
</div>
