<!-- templates/_token_content.html -->

<div class="token-card" data-token-id="{{ token.kaltura_token_id }}">
  <div
    style="border-left: 0.3em solid; padding: 0.3em 1em; margin: 1em 0; max-width: 50rem;"
    class="card text-white bg-primary mb-3"
  >
    {% include "_token_manage.html" %}
    <div class="token-content">
      <div class="card-header">
        <div data-kaltura-app-token="{{ token.token }}">
          <div><b>Kaltura App Token:</b> {{ token.token }}</div>
        </div>
      </div>

      <div class="card-body">
        <div data-kaltura-app-token="{{ token.description }}">
          <div style="width: 750px">
            <b>Description:</b> {{ token.description}}
          </div>
        </div>
      </div>
    </div>
    <div class="list-group">
    <ul style="list-style: none; padding-left: 0" class="note-list">
      <li class="note-create-card">{% include "_note_create_form.html" %}</li>
      {% for note in token.notes %} {% include "_note_content.html" %} {% endfor
      %}
    </ul>
    </div>
  </div>
</div>
