<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }} {% endblock %}

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    {% endblock %}

    <title>{% block title %}{% endblock %} - {{ custom_title }}</title>

    <script
      src="{{ url_for('static', filename='js/index.js') }}"
      type="module"
    ></script>
  </head>
  <body>
    {% from 'bootstrap5/utils.html' import render_messages %}
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">{{ custom_title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            {% if current_user.is_authenticated %}
            <!-- Kaltura dropdown menu -->
            {% if kaltura_enabled %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="kalturaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Kaltura
              </a>
              <ul class="dropdown-menu" aria-labelledby="kalturaDropdown">
                <li><a class="dropdown-item" href="{{ url_for('kaltura.kaltura_manage') }}">Manage Tokens</a></li>
                <li><a class="dropdown-item" href="{{ url_for('kaltura.kaltura_addtokens') }}">Add Token</a></li>
                <li><a class="dropdown-item" href="{{ url_for('kaltura.kaltura_config') }}">Configure</a></li>
              </ul>
            </li>
            {% endif %}
            <!-- End of Kaltura dropdown -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logpage') }}">View Logs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('settings.main_config') }}">Configure</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('apidocs') }}">API Docs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>    

    <div>{{ render_messages(dismissible=True) }}</div>

    <div id="content">{% block content %}{% endblock %}</div>
    {{ bootstrap.load_js() }}
  </body>
</html>
