<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }} {% endblock %}

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    {% endblock %}

    <title>{% block title %}{% endblock %} - {{ custom_title }}</title>

    <script
      src="{{ url_for('static', filename='js/index.js') }}"
      type="module"
    ></script>
  </head>
  <body>
    {% from 'bootstrap5/utils.html' import render_messages %}
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">{{ custom_title }}</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="manage">Manage Tokens</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="addtokens">Add Token</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="log">View Logs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="config">Configure</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="apidocs">API Docs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout">Logout</a>
            </li>
            {% endif %} {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="login">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div>{{ render_messages(dismissible=True) }}</div>

    <div id="content">{% block content %}{% endblock %}</div>
    {{ bootstrap.load_js() }}
  </body>
</html>
