{% extends "base.html" %}
{% block title %}
Config
{% endblock %}
{% block head %}
{{ super() }} 
<script type="text/javascript">
  function openAuthWindow() {
      var authUrl = "{{ auth_url }}";  // Get the URL from the Jinja template
      window.open(authUrl, '_blank'); // Open in a new window
  }
</script>
{% endblock %}
{% block content %}

<div style="border-radius: 5px; padding: 20px">
  <form action="/canvas/config?f=oauth_config" method="post" id="oauth_config">
    <h4>OAuth2 Settings</h4>
    <label for="canvas-base-url">Canvas Base URL</label>
    <div class="col-sm-3">
      <input
        class="form-control"
        type="text"
        id="canvas-base-url"
        name="canvas-base-url"
        value={{ oauth_config.canvas_base_url }}
      ><br />
    </div>
    <label for="canvas-client-id">Canvas Client ID</label>
    <div class="col-sm-2">
      <input
        class="form-control"
        type="number"
        id="canvas-client-id"
        name="canvas-client-id"
        value={{ oauth_config.canvas_client_id }}
      ><br />
    </div>
    <label for="canvas-client-secret">Canvas Client Secret</label>
    <div class="col-sm-6">
      <input
        class="form-control"
        type="password"
        id="canvas-client-secret"
        name="canvas-client-secret"
        value={{ oauth_config.canvas_client_secret }}
      ><br />
    </div>
    <label for="redirect-uri">Redirect URI</label>
    <div class="col-sm-4">
      <input
        class="form-control"
        type="text"
        id="redirect-uri"
        name="redirect-uri"
        value={{ oauth_config.redirect_uri }}
      ><br />
    </div>
  </form>
  <button form="oauth_config" value="submit" type="submit" class="btn btn-info" data-action="update-canvas-oauth-config">
    Update
  </button>
  <div class="card border-danger mb-3 mt-3" style="max-width: 40rem">
    <div class="card-body">
      <p class="card-text">
        ⬆️ More info coming soon
      </p>
    </div>
  </div>
  <div>
    <!-- Button to initiate OAuth2 -->
    <button class="btn btn-info mt-3" onclick="openAuthWindow()">Authorize</button>
  </div>    
</div>

{% endblock %}
