{% extends "base.html" %} {% block title %}Config{% endblock %} {% block head %}
{{ super() }} {% endblock %} {% block content %}

<div style="border-radius: 5px; padding: 20px">
  <h3>Kaltura Proxy Configuration</h3>
  <hr />
  <form action="/kaltura-config?f=restrictions" method="post" id="restrictions">
    <h4>Access Restrictions</h4>
    <label style="margin-top: 8px" for="force-cats"
      >Force Category Filtering (list allowed categories, separated by commas)</label
    >
    <div class="col-sm-4">
      <input
        class="form-control"
        type="text"
        id="force-cats"
        name="force-cats"
        value={{ access_restrictions.allowed_categories|stripwhitespace }}
      >
    </div>
    <div class="card border-danger mb-3 mt-3" style="max-width: 40rem">
      <div class="card-body">
        <p class="card-text">
          ⬆️ Add categories here that are to be allowed. All others will be rejected. Leaving this field
          blank will not apply any additional restrictions.
        </p>
      </div>
    </div>
    <label style="margin-top: 8px" for="force-labels"
      >Force Label Usage</label
    >
    <div class="col-sm-5">
      <input
        class="form-check-input"
        type="checkbox"
        value={{ access_restrictions.force_labels }}
        id="force-labels"
        name="force-labels"
        {% if access_restrictions.force_labels %} checked="" {% endif %}
      >
    </div>
    <div class="card border-danger mb-3 mt-3" style="max-width: 40rem">
      <div class="card-body">
        <p class="card-text">
          ⬆️ Forcing labels will require that all API endpoint requests include the token label as a query parameter,
          effectively removing the requirement for session creation, or the need for a third party to have knowlege of
          the app token. Future improvements will include an optional key, creating true obfuscation of added tokens.
          IMPORTANT: This is to be used with care in its current iteration, when creating and sharing labels.
        </p>
      </div>
    </div>
  </form>
  <button form="restrictions" type="submit" value="submit" class="btn btn-info mb-1">
    Update
  </button>
</div>
<hr />
<div style="border-radius: 5px; padding: 20px">
  <form action="/kaltura-config?f=sessions" method="post" id="sessions">
    <h4>App Token Session Creation Defaults</h4>
    <label for="partner-id">Partner ID</label>
    <div class="col-sm-2">
      <input
        class="form-control"
        type="text"
        id="partner-id"
        name="partner-id"
        value={{ apptoken_session_defaults.partner_id }}
      ><br />
    </div>
    <label for="session-expiry">Session Expiration (in seconds)</label>
    <div class="col-sm-2">
      <input
        class="form-control"
        type="number"
        id="session-expiry"
        name="session-expiry"
        value={{ apptoken_session_defaults.session_expiry }}
      ><br />
    </div>
    <label for="store-ks-checked">Allow for local storage of App Token KS</label>
    <div class="col-sm-2">
      <input
      class="form-check-input"
      type="checkbox"
      value={{ apptoken_session_defaults.use_local_storage }}
      id="use-local-storage"
      name="use-local-storage"
      {% if apptoken_session_defaults.use_local_storage %} checked="" {% endif %}
      >
    </div>
    <div class="card border-danger mb-3 mt-3" style="max-width: 40rem">
      <div class="card-body">
        <p class="card-text">
          ⬆️ Select to temporarily store session tokens created when calling session creation endpoints.
          Currently, this depends on selecting force labels (above). When selected, an app token
          KS will be stored in the database for subsequent use and efficiency. With each API request,
          an expiration check is performed. A new KS will then be created and the expired KS will be removed.
        </p>
      </div>
    </div>
  </form>
  <button form="sessions" value="submit" type="submit" class="btn btn-info" data-action="update-token-session-config">
    Update
  </button>
</div>

{% endblock %}
