{% extends "base.html" %} {% block title %}Add Token{% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %}


<div class="add-existing-token" style="border-radius: 5px; padding: 15px">
  <h3>Add Token</h3>
  <hr />
  <h4>Add Existing App Token</h4>
  <form>
    <div class="col-sm-4 required">
      <label>
        App Token ID
        <input
          class="form-control"
          name="kaltura_token_id"
          type="text"
          value=""
          required
        >
      </label>
    </div>

    <div class="col-sm-4 required">
      <label>
        App Token
        <input 
          class="form-control"
          name="token"
          type="text"
          value=""
          required
        >
      </label><br />
    </div>
    <div class="col-sm-4">
      <label>
        Label
        <input class="form-control" name="label" type="text" value="">
      </label>
    </div><br />
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="get-apptoken-info">
      <label class="form-check-label">
        Pull additional token info from Kaltura (description, expiration, privileges, etc.)
      </label>
    </div>
    <div class="card border-danger mb-3 mt-3" style="max-width: 40rem">
      <div class="card-body">
        <p class="card-text">
          ⬆️ Checking this box will grab more detail about the token from Kaltura. You'll
          need to provide a valid Kaltura Session token (KS) below. This information will be
          displayed on the card in the manage tokens page and isn't used for any other purpose.
        </p>
      </div>
    </div><br />
    <button type="button" class="btn btn-info mt-1" data-action="add-token">
      Add Token
    </button>
  </form>
  <div style="color: green" class="confirm-add-existing"></div>
  <div style="color: red" class="error-add-existing"></div>
</div>
<hr />
<div style="border-radius: 5px; padding: 20px">
  <label class="form-label" for="ks-token"
    >Kaltura Session token (KS)</label
  >
  <div class="col-sm-4">
    <input
      class="form-control ks-token"
      type="password"
      id="ks-token"
      name="ks-token"
      value=""
    >
  </div>
  <div class="card border-danger mb-3 mt-3" style="max-width: 40rem">
    <div class="card-body">
      <p class="card-text">
        ⬆️ Optional if you want to pull information from Kaltura for an existing
        token. Required if you choose to create a new token here. Masked and not
        stored in the database. Do not use your KMC admin secret here.
      </p>
    </div>
  </div>
</div>
{% endblock %}
