{% extends "base.html" %} 
{% block title %}Integrator Configuration{% endblock%}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div style="border-radius: 5px; padding: 20px">
  <h3>Integrator Configuration</h3>
  <hr />
  <form action="/settings/main-config?f=ui" method="post" id="ui">
    <h4>UI Customization</h4>
    <label for="integrator-title">Integrator Title</label>
    <div class="col-sm-3">
      <input
        class="form-control"
        type="text"
        id="integrator-title"
        name="integrator-title"
        value="{{ ui_customizations.integrator_title }}"
      />
    </div>
  </form>
  <br />
  <button
    form="ui"
    value="submit"
    type="submit"
    class="btn btn-info"
    data-action="update-integrator-config"
  >
    Update
  </button>
  <hr />
  <h4>Vendor Proxies</h4>
  <form action="/settings/main-config?f=vendorproxies" method="post" id="vendorproxies">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value={{ vendor_proxies.kaltura_proxy_enabled }}
        id="kaltura-proxy-enabled"
        name="kaltura-proxy-enabled"
        {% if vendor_proxies.kaltura_proxy_enabled %} checked=""
        {% endif %}
      />
      <label class="form-check-label" for="kaltura-proxy-enabled">
        Enable Kaltura Proxy
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value={{ vendor_proxies.canvas_proxy_enabled }}
        id="canvas-proxy-enabled"
        name="canvas-proxy-enabled"
        {% if vendor_proxies.canvas_proxy_enabled %} checked=""
        {% endif %}
      />
      <label class="form-check-label" for="canvas-proxy-enabled">
        Enable Canvas Proxy
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value={{ vendor_proxies.zoom_proxy_enabled }}
        id="zoom-proxy-enabled"
        name="zoom-proxy-enabled"
        {% if vendor_proxies.zoom_proxy_enabled %} checked=""
        {% endif %}
      />
      <label class="form-check-label" for="zoom-proxy-enabled">
        Enable Zoom Proxy
      </label>
    </div>
  </form>
  <br />
  <button
      form="vendorproxies"
      value="submit"
      type="submit"
      class="btn btn-info mb-2"
      data-action="update-vendor-config"
    >
      Update
    </button>
</div>

{% endblock %}
